.flex {
    display: flex;

    // horizontally
    &.center {
        justify-content: center;
    }

    // vertically
    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }

    // flex fill to width/height
    &.fill {
        flex-grow: 1;
    }

    .fill {
        flex-grow: 1;
    }

    // boxes
    &.row {
        flex-direction: row;
    }

    &.column {
        flex-direction: column;
    }
    
}